.menu-accordeon-section {
  background: url("background/beats training.png") center center/cover no-repeat;
  color:#FFFFFF;
  position: relative;

  @include tablet {
    min-height: rem(908px);
  }
}

.menu-accordeon-section__title {
  color: #FFFFFF;
  position: absolute;
  margin-bottom: rem(630px);
  margin-left: rem(70px);
}

.menu-accordeon {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  bottom: 0;
}

.menu-accordeon__item {
  display: flex;
}

.menu-accordeon__header {
  position: relative;
  width: rem(102px);
  background: #999999;
  align-items: center;

  &--black {
    background: #151515;
  }

  &--red {
    background: #E01F3C;
  }
}

.menu-accordeon__title {
  font-size: rem(36px);
  color: #FFFFFF;
  font-weight: bold;
  white-space: nowrap;
  transform: rotate(270deg);
  margin-top: rem(804px);
}

.menu-accordeon__content {
  background: rgba(51, 53, 55, 0.9);
  position: relative;
  overflow: hidden;
  width: 0;
  transition: width .5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menu-accordeon__container {
  padding: 40px 73px 45px 26px;
}