.contacts {
  font-style: normal;
  margin-left: rem(31px);

  @include phone {
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__address {
  @include phone {
    margin-bottom: rem(14px);
    font-size: 18px;
  }
}