@import '../settings/vars.scss';

.feature__icon {
  width: rem(45px);
  margin-right: rem(5px);
}

.feature__text {
  font-size: rem(16px);
  width: rem(91px);
  line-height: rem(18px);
}
