.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: rem(24px) 0;
  background:#FFFFFF;
  height: rem(86px);

  @include phone {
    min-height: rem(131px);
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: rem(1002px);

  @include phone {
    min-width: rem(151px);
    flex-direction: column;
  }
}


