.headline {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 63px;
}

.headline__title {
  margin-bottom: 11px;
}

.headline__subtitle {
  padding: 0 18%;
  margin-bottom: 56px;
  color: #666666;
  font-size: 16px;
}

