.headline {
  text-align: center;
  margin-bottom: rem(38px);

  @include tablet {
    margin-top: rem(161px);
  }

  @include phone {
    margin-top: 0;
    margin-bottom: rem(10px);
  }
}

.headline__title {
  margin-bottom: rem(0px);

  @include phone {
    font-size: rem(36px);
    margin-top: rem(63px);
  }
}

.headline__subtitle {
  padding: 0 19%;
  margin-bottom: rem(37px);
  color: #666666;
  font-size: rem(16px);

  @include tablet {
    padding: 0 16%;
  }

  @include phone {
    padding: 0% 11%;
    margin-bottom: rem(66px);
  }
}

