.headline {
  text-align: center;
  margin-left: 157px;
}

.headline__title {
  margin-bottom: 0px;
}

.headline__subtitle {
  padding: 0 12%;
  margin-bottom: 37px;
  color: #666666;
  font-size: 16px;
}

