@import '../settings/vars.scss';

.hero {
  background-color: $gray;
  min-height: 655px;
  height: 100vh;
  color: $black;

  &::after {
    position: absolute;
    bottom: -47px;
    right: 23.6%;
    content: url("../../img/icons/rectangle small.png");
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../../img/content/beats hero.png") right 4% center / 53% auto no-repeat;
  margin-left: 557px;
}


.hero__title-section {
  width: 400px;
  height: 290px;
}

.hero__main-title {
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.hero__subtitle {
  font-size: 18px;
  margin-bottom: 50px;
  padding-right: 12%;
}

.hero__icons-section {
  margin-bottom: 67px;
}
