@import '../settings/vars.scss';

.menu {
  margin: 0 30px;
  margin-bottom: 10px;

  &--color--white {
    color: #FFFFFF;
  }
}

.menu--column .menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: rem(36px);
  line-height: rem(72px);
  text-decoration: none;
}

.header__menu {
  @include tablet {
    display: none;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: rem(22px);
  margin-top: rem(10px);

  &:last-child {
    margin-right: rem(0px);
  }
}

.menu__link {
  font-size: rem(17px);
  font-weight: normal;
  white-space: nowrap;

  @include tablet {
  font-size: rem(36px);
  }
}