.socials {
  display: flex;
  justify-content: space-between;

  @include phone {
    padding-left: 10%;
  }
}

.socials__item {
  margin-right: 11px;
}

.socials__link {
  background-image: url(../../img/icons/css_sprites.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  padding: 10px;
  display: block;
  position: relative;
  border-radius: 50%;
}

.socials__item--icon--vk .socials__link {
  background-position: -60px -60px;
}

.socials__item--icon--facebook .socials__link {
  background-position: -10px -10px;
}

.socials__item--icon--instagram .socials__link {
  background-position: -60px -10px;
}

.socials__item--icon--telegram .socials__link {
  background-position: -10px -60px;
}