.team-section {
  @include tablet {
  min-height: rem(970px);
  }
}

.team {
  display: flex;
  justify-content: space-between;

  &--display--desktop {
    @include tablet {
      display: none;
    }
  }

  &--display--mobile {
    display: none;
    @include tablet {
      display: flex;
      padding: 0 10%;
      align-items: center;
      flex-direction: column; 
    }
  }
}

.team__item {
  flex: 1;
  text-align: center;
  position: relative;
  margin-right: rem(20px);
  max-width: rem(220px);

  @include tablet {
    flex: initial;
    margin-right: 0;
  }
}

.team--display--mobile .team__item {
  margin-bottom: rem(10px);
}

.team__member {
  height: rem(290px);
  margin-bottom: rem(11px);
}

.team__title {
  display: inline-flex;
  align-items: center;
  font-weight: bold;

  &::after {
    width: rem(9px);
    height: rem(9px);
    background-image: url("../../img/icons/accordeon.png");
    background-repeat: no-repeat;
    background-size: rem(9px);
    content: "";
    margin-left: rem(4px);
  }
}

.team__item.active .team__title::after {
  transform: rotate(180deg);
}

.team__content {
  overflow: hidden;
  height: 0;
  transition: height 0.4s;
  margin-top: rem(6px);
  font-size: rem(16px);
}

.team--display--desktop .team__content {
  position: absolute;
  top: 100%;
}

.team__content-block {
  padding-bottom: rem(6px);
}

.team__occupation {
  color:#000000;
}

.team__description {
  color:#666666;
}
